<div class="central_panel">
  <h2 class="text-lg pb-2">
    <%= "#{@users.count} person".pluralize(@users.count) %> found:
  </h2>
  <% @users.each do |user| %>
    <div>
    <p class="py-4 inline-block">
      <%= user.name %>
    </p>
    <% unless @friends_ids.include?(user.id) %>  
      <% if @sent_requests_users_id.include?(user.id) %>
        <p class="inline-block float-right mt-2"> Request sent!</p>
      <% else %>
        <%= link_to 'Send Friend request', friendships_path(receiver_id: user.id), method: :post, class:"btn-small inline-block float-right mt-2" %>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>