<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Welcome to Facebook, <%= @user.name %></h1>
    <p>
      You have successfully signed up.<br>
    </p>
    <p>
      To login to the site, just follow <a href="<%= @url %>">this link.</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
