<div>
  <% if comments.any? %>
    <small><%= pluralize(comments.count, "comment") %>:</small>
    <% comments.each do |comment| %>
      <p class="ml-6 text-sm">
        <strong><%= comment.user.name %>:</strong> <%= comment.body %>
      </p>
    <% end %>
  <% end %>
</div>
