@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./buttons.css";

.card {
  @apply mx-auto max-w-sm my-10 p-10 bg-blue-100;
}

.central_panel {
  @apply bg-blue-100 mx-auto p-6;
}

.title {
  @apply text-2xl font-bold mb-4;
}

.label {
  @apply text-lg mb-1;
}

.input {
  @apply w-full px-2 py-1 mb-2 border-2 border-gray-600 rounded;
}

.error_message {
  @apply text-red-600;
}

.field_with_errors .label {
  @apply text-red-600;
}

.field_with_errors .input {
  @apply border-2 border-red-600;
}
