@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.card {
  @apply mx-auto max-w-sm my-10 p-10 bg-blue-100;
}

.title {
  @apply text-2xl font-bold mb-4;
}

.label {
  @apply text-lg mb-1;
}

.input {
  @apply w-full px-2 py-1 mb-2 border-2 border-gray-600 rounded;
}

.btn-main {
  @apply bg-blue-400 text-white text-lg font-bold rounded p-2;
}

.btn-main:hover {
  @apply bg-blue-600;
}

.btn-small {
  @apply bg-blue-400 text-lg text-white font-bold rounded px-2 py-1;
}

.btn {
  @apply bg-gray-300 rounded p-2;
}

.btn:hover {
  @apply bg-gray-400;
}

.error_message {
  @apply text-red-600;
}

.field_with_errors .label {
  @apply text-red-600;
}

.field_with_errors .input {
  @apply border-2 border-red-600;
}
