<div class="central_panel w-4/5 sm:w-3/5 md:w-1/2 lg:w-2/5">
  <h2 class="text-xl mb-2">What's on your mind?</h2>
  <%= render 'post_form' %>
  <% @posts.each do |p| %>
    <% if User.exists?(p.user_id) %>
      <div class="p-4">
        <%= render 'post', p: p %>
        <%= render 'comments/list_comments', comments: p.comments  %>
        <div class="mt-1">
          <%= render 'comments/form', new_comment: @new_comment, p: p %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
